﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pgwslider.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hogares Victoria", "", "In", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="navbar-left">
                        @Html.ActionLink("Casas","Casas", "In")
                    </li>
                    <li class="navbar-left">
                        @Html.ActionLink("Locales/Oficinas", "Locales", "In")
                    </li>
                    <li class="navbar-left">
                        @Html.ActionLink("Terrenos", "Terrenos", "In")
                    </li>
                    <li class="navbar-left">
                        @Html.ActionLink("Contacto", "Contacto", "In")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

       
        <footer>
                <p>La dirección de la empresa -</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.2.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/pgwslider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function ( ) {
        $('.pgwSlider').pgwSlider({
            listPosition: "right",
            selectionMode: "click",
            transitionEffect: "fading",
            autoSlide: true,
            displayList: true,
            verticalCentering: true,
            adaptiveHeight: false,
            transitionDuration: 1400,
            intervalDuration: 2500

        });
    });
    </script>
</body>
</html>