﻿@model List<HogaresVictoria.Models.Hogares>

@{
    ViewBag.Title = "Terrenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terrenos</h2>
<hr />
<br />
@foreach (var item in Model)
{
    @Html.DisplayFor(x => item.Ubicacion)<br />
    @Html.DisplayFor(x => item.ShortDescription)<br />
    @Html.DisplayFor(x => item.Precio)<br />
    @Html.DisplayFor(x => item.Tipos.NombreTipo)
    <br />
    <br />
}